<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="pl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>

        form{
           margin: 50px; 
          
        }

    </style>
  </head>
  <body>
    {% include "quiz/navbar.html" %}
 


<br><br><br>
        <h3 style="text-align: center;color: black;">Rejestracja trenera</h3>
<form method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="username">Nazwa</label>
        {% render_field userForm.username|attr:'required:true'  class="form-control" placeholder="Nazwa użytkownika" %}
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Hasło</label>
        {% render_field userForm.password|attr:'required:true'  class="form-control" placeholder="hasło" %}
      </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="first_name">Imię</label>
          {% render_field userForm.first_name|attr:'required:true'  class="form-control" placeholder="Imię" %}
        </div>
        <div class="form-group col-md-6">
          <label for="last_name">Nazwisko</label>
          {% render_field userForm.last_name|attr:'required:true'  class="form-control" placeholder="Nazwisko" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="mobile">Telefon komórkowy</label>
          {% render_field teacherForm.mobile|attr:'required:true'  class="form-control" placeholder="Telefon komórkowy" %}
        </div>
        <div class="form-group col-md-6">
          <label for="address">Adres</label>
          {% render_field teacherForm.address|attr:'required:true'  class="form-control" placeholder="Adres" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="profile_pic">Zdjęcie profilowe</label>
          {% render_field teacherForm.profile_pic|attr:'required:true' class="form-control" placeholder="" %}
        </div>
        
      </div>


    <button type="submit" class="btn btn-primary">Zarejestruj</button>
  </form>


<br><br>
{% include "quiz/footer.html" %}
  </body>
</html>
