<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            text-align: center;
            /* Height of the footer*/
            height: 40px;
            background: #212529;
        }

        p {
            text-align: center;
        }
    </style>

    <head>

        <body>
            <center>
                <div id="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div id="footer">
                                <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">
                                    <p>

                                        Copyright &copy; B&B Co. 2022
                                    </p><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </center>
        </body>    
   <html>
